.Main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    height: 510px;
    text-align: center;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}